/* ==========================================================================
//  Footer modules
// ========================================================================== */

/* BASE
// ----------------------------------------------------------------------------- */

footer, .footer {
	
}


/* MODIFIERS
// ----------------------------------------------------------------------------- */

// global/main footer @ bottom of each page
footer.global, .footer.global {
  @include rem(bottom, 12px);
  position: absolute;
  left: 0;
  right: 0;
	text-align: center; 
}

/* SUBMODULES
// ----------------------------------------------------------------------------- */
  
  .footer-legal {
    color: $color-text--secondary;
    opacity: 0.6;
  }