// ==========================================================================
//  Header modules
// ==========================================================================

/* BASE
// ----------------------------------------------------------------------------- */

.header {
	
}

/* MODIFIERS
// ----------------------------------------------------------------------------- */

.header.global {
	// @include rem(height, 600px);
  @include rem(padding, 48px 0);
  position: relative;
  margin-top: 0;
  overflow: hidden;

  .tagline {
    // @extend %banda;
    // color: white;
    text-transform: lowercase;
  }

  .intro {
    // color: darken($color--highlight, 36);
  }
}

/* SUBMODULES
// ----------------------------------------------------------------------------- */

